@import 'tailwindcss';

html {
  @apply scroll-smooth;
}
body {
  font-size: 16px;
}

.noto-sans-100 {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.noto-sans-400 {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.noto-sans-900 {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
